**/.settings/

# Ignore build artifacts
**/build/
**/Debug/
**/Release/

# IDE related
/.metadata/
tool_set_config.json

**/.clangd	# a configuration file for Clangd
**/.project	# stores general Eclipse project settings
**/.cproject	# contains configuration details specific to C/C++ projects in Eclipse, such as compiler settings, include paths, and build options

./tool_set_config.json

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
